* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


.container {
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8;

}
.tittle {
    white-space: nowrap;
    text-align: center;
}


button {
    padding: 12px 26px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    transform: scale(1.05);
}


body.light {
    background-color: #f4f6f8;
    color: #111;
}

body.light .container {
    background-color: #ffffff;
}

body.light button {
    background-color: #4f46e5;
    color: white;
}


body.dark {
    background-color: #111827;
    color: #f9fafb;
}

body.dark .container {
    background-color: #1f2933;
}

body.dark button {
    background-color: #22c55e;
    color: #042f2e;
}
