* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #fdfbfb, #ebedee);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(145deg, #ffffff, #f1f5f9);
    padding: 35px 145px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #374151;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 28px;
}
.tittle {
    white-space: nowrap;
    text-align: center;
}
.count {
    font-size: 72px;
    font-weight: 700;
    color: #7c3aed;
    margin-bottom: 28px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.btn {
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.inc {
    background: linear-gradient(135deg, #34d399, #059669);
}

.dec {
    background: linear-gradient(135deg, #fb7185, #e11d48);
}

.reset {
    background: linear-gradient(135deg, #60a5fa, #2563eb);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.footer-text {
    margin-top: 22px;
    font-size: 12px;
    color: #9ca3af;
}
